<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Sign-in Results</h2>

<ul>
  <li>
    Auth code token (from spotify assist):
    <%= authCodeToken %>
  </li>
  <li>
    State:
    <%= state %>
  </li>

</ul>

</div>

</body>
</html>
