<!DOCTYPE html>
<html>
	<head>
		<title>Spotify Assist Sign In</title>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta name="google-signin-client_id" content="459108910569-8g7sdom2iutcp2v2mvg1ab7hvkhm4c10.apps.googleusercontent.com">

		<script src="/signin.js"></script>
	</head>
	<body>
		<h1>Sign in</h1>
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<ul>
		<li><a href="#" onclick="signOut();">Sign out</a></li>
		<li><a href="/auth/signin?client_id=google&redirect_uri=<%=redirectUrl%>"</a>Start sign-in flow</a></li>
		<li><a href="/settings.html">Settings</a></li>
		</ul>
	</body>
</html>

